.navbar{
  background-color: #FFF;
  color: #000000;
  min-height: 60px;
  box-shadow: 0 0px 18px 4px rgba(0,0 , 0, 0.719);
}
 ul li{
  display: inline-flex;
  color:black;
}

a.nav-link.third.after,a.nav-link.third.after:hover,a.nav-link.third.after:active{
 
	transition:0.5s color ease;
  position: relative;
  margin: 0 25px;
  color:#000000;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Audiowide' ,cursive;
  font-size: 17px;
  cursor: pointer;
}
a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  position:absolute;
  color:black;
}
a.after:after{
  bottom:0;
}
a.after:after{
  height:3px;
  width:0;
  background:#F8C44C;
}

a.third:after{
  left:50%;
  
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}

a.after:hover:after{
  width:100%;
  
}
a.active:after{
  width:100%;

}