
*,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* , html, body{
    scroll-behavior: smooth;
}
/************************************* scroll start****************************************************** */
        /* width */
        ::-webkit-scrollbar {
          width: 15px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
          background-color: #ffffff;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
          background:#f1f1f1;
          border-radius: 10px;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
          background: #dddddd;
      }


      /************************************* scroll end****************************************************** */
.tomato{
    color: tomato;
}

h3.empty{
    font-size: 20px;
}


  h1.blogtitle{
      font-size: 30px;
  }

  @media (max-width: 767px) {
    h3.empty{
      font-size: 14px;
    }
    h1.blogtitle{
        font-size: 20px;
    }
  }

  @media (max-width: 500px) {
    h1.blogtitle{
        font-size: 15px;
    } 
  }