@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&family=Mate+SC&family=Mukta&display=swap');
*,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* , html, body{
    scroll-behavior: smooth;
}
/************************************* scroll start****************************************************** */
        /* width */
        ::-webkit-scrollbar {
          width: 15px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
          background-color: #ffffff;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
          background:#f1f1f1;
          border-radius: 10px;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
          background: #dddddd;
      }


      /************************************* scroll end****************************************************** */
.tomato{
    color: tomato;
}

h3.empty{
    font-size: 20px;
}


  h1.blogtitle{
      font-size: 30px;
      font-family: 'Mukta', sans-serif;
      /* font-style: ; */
      
  }

  @media (max-width: 767px) {
    h3.empty{
      font-size: 14px;
    }
    h1.blogtitle{
        font-size: 20px;
    }
  }

  @media (max-width: 500px) {
    h1.blogtitle{
        font-size: 15px;
    } 
  }

  .copyurl
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .copyurlinput
  {
    line-height: 20px;  
    height: 40px;
    margin: 0;
  }

  .copyurlbtn{
    line-height: 20px;    
    height: 40px;
    margin: 0;
  }
  .blogdetails
  {
    background-color:#f1f1f1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    transition: all 200ms ease-in-out;
    font-family: 'Mukta', sans-serif;
    text-transform: capitalize;
  }
  .blogdetails:hover{
    background-color: #e1e1e1;
  }

  .blogdate{
    padding: 5px;
  }

  /* comment */
  .commentwarpper {
    display: flex;
    margin: 20px 0;
    padding: 0;
    flex-direction: column;
}

.comment {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f1f1f1;
    margin-top: 10px;
    min-height: 50px;
    height: auto;
}

.comment-header,
.comment-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Mate SC', serif;
}

.comment-header {
    background-color: #e1e1e1;
}

.comment-date,.commentcontent
{
    padding: 10px;
}

.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
}

.commentcontent {
    word-spacing: 4px;
    font-size: 22px;
    font-family: 'Markazi Text', serif;
}

#comment
{
  margin: 20px 0;
}